.button {
    font: inherit;
    font-size: larger;
    border:none;
    background-color: #27187E;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;


}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled{
    background: #94849B;
    border-color: #94849B;
    color: white;
    cursor: not-allowed;
}